*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #548687;
    text-align: center;
}

h1{
    background-color: #0b0fe0;
    color: #ffffff;
    line-height: 5rem;
}
.choices{
    height: 150px;
    /* width: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;


}
.choice{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
background-color: #081b31;
cursor: pointer;
}
img{
    border-radius: 50%;
    height:150px ;
width: 100px;
}
.score-board{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

#user-input,#comp-input{
    font-size: 4rem;
}
.msg-container{
    height: 40px;

    background-color: #081b31;
    color: white;
    display: inline-block;
    width: 150px;
    line-height: 30px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin: 20px;

}